*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGO */
.logo{
    margin: 2% 2%;
    display: inline-block;
    font-size: 50px;
}

.logo-text{
    vertical-align: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

