*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGO */
.logo{
    margin: 2% 2%;
    display: inline-block;
    font-size: 50px;
}

.logo-text{
    vertical-align: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

/* MAIN */

.container{
    width: 1200px;
    margin: 0 auto;

}
main{
    background-color: rgb(237, 235, 235);
    width: 100%;
    height: 1200px;
    padding: 5%;
}
/* PRIMA SEZIONE */
#background{
    background-color: white;
    border-radius: 2%;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    display: inline-block;
    
}
.task{
    background-color: rgba(92, 217, 228, 0.553);
    color: white;
    width: 5%;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10%;
    font-size: small;
    padding: 5px;
}

.section{
    background-color: rgb(200, 200, 201);
    color: rgb(221, 227, 38);
    width: 5%;
    margin-top: 3%;
    border-radius: 10%;
    font-size: small;
    padding: 5px;
}

/* SEZIONE LISTA NON ORDINATA */

#other-bacground{
    background-color: white;
    border-radius: 2%;
    width: 50%;
    margin-left: 25%;
    padding: 38px;
    margin-top: 3px;
}

.task-list{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;

}

.list{
    list-style: none;
    font-size: 15px;
    display: inline-block;
}

.check{
    color: rgb(101, 252, 101);
}
.bold{
    font-weight: bold;
    font-family: sans-serif;
}


.editorial{
    background-color: rgb(50, 224, 243);
    color: rgb(255, 255, 255);
    width: 3%;
    border-radius: 20%;
    font-size: 8px;
    padding: 4px;
    font-family: sans-serif;
}

ul{
    margin: 2% 0%;
}

.bottom{
    margin-bottom: 5%;
}

/* SECONDA LISTA NON ORDINATA */

.goals{
    background-color: rgb(253, 84, 242);
    color: rgb(255, 255, 255);
    width: 3%;
    border-radius: 20%;
    font-size: 8px;
    padding: 4px;
    font-family: sans-serif;
}

